@font-face {
  font-family: Pacifico;
  src: url(./assets/fonts/Pacifico-Regular.ttf);
}

@font-face {
  font-family: GamjaFlower;
  src: url(./assets/fonts/GamjaFlower-Regular-lite.ttf);
}

/* 
 * Generic resets
 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

/* 
 * Generic Styling
 */

body {
  background: #ffff82;
  font-family: 'GamjaFlower', cursive;
}

main {
  width: 80%;
  height: 100%;
  margin-left: 20%;
}

ul {
  list-style-position: inside;
}

.page ul {
  font-family: 'Molengo', cursive;
  font-size: 0.9em;
}

.page {
  margin: 0 auto;
  min-height: 100vh;
  padding: 2em;
}

.page__heading {
  text-align: right;
  font-size: 2em;
  margin-bottom: 1em;
}

.page__divider {
  height: 20vh;
}

@media only screen and (min-width: 800px) {
  main {
    width: 80%;
  }
}

/* 
 * Styling for Navbar
 */

.nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 20%;
  background: rgb(0, 2, 27);
}
.nav__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(169, 245, 225);
}

.nav__header_icon {
  height: 70%;
  margin-left: 1rem; 
}

.nav__header_title {
  font-family: Pacifico, cursive;
  font-weight: 100;
  margin: 0 1rem;
}

.nav__header_subtitle {
  font-size: 1.3rem;
  line-height: 1.3rem;
}

.nav__links_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 80%;
  margin-left: -5em;
}

.nav__link {
  width: 60%;
  padding: 10px 20px 10px 10px;
  border: 5px black solid;
  background:white;
  -webkit-transform: perspective(300px) rotateX(-30deg);
  -o-transform: perspective(300px) rotateX(-30deg);
  -moz-transform: perspective(300px) rotateX(-30deg);
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  margin: 10px 90px;
}

.nav__link:hover {
  transition: all 1s ease;
  width: 90%;
}

.nav__link_p {
  width: 120px;
  font-size: 1.3em;
  text-align: left;
  -webkit-transform: perspective(300px) rotateX(30deg);
  -o-transform: perspective(300px) rotateX(30deg);
  -moz-transform: perspective(300px) rotateX(30deg);
  -webkit-transform-origin: 0% -50%;
  -moz-transform-origin: 0% -50%;
  -o-transform-origin: 0% -50%;
  transform-origin: 0% -50%;
}

/* 
 * Styling for Projects Page 
 */

.projects__container {
  display: flex;
}

.projects__article {
  width: 50%;
}

.projects__article {
  padding: 0.5em;
  font-size: 1.2em;
}

.projects__article_headings {
  margin-bottom: 0.5em;
}

.projects__article_bulletpoints {
  margin-bottom: 0.25em;
}

/* 
 * Styling for Skills Page 
 */

 .page__skills_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  min-height: 80vh;
 }

.skills__emoji_container {
  display:flex;
  align-items: center;
  margin: 0.3em;
}

.skills__emoji {
  font-size: 5em;
  margin-right:0.3em;
  align-items: center;
}

.skills__speech-bubble {
  position: relative; 
  background: whitesmoke;
  border-radius: .2em; 
  height: 4em;
  width: 7em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
} 

.skills__speech-bubble:after { 
  content: ''; 
  position: absolute; 
  left: 0; 
  top: 50%; 
  width: 0; 
  height: 0; 
  border: 1em solid transparent; 
  border-right-color: whitesmoke; 
  border-left: 0; 
  margin-top: -1em; 
  margin-left: -1em;
}

.skills__emoji_container:hover .skills__emoji { 
  transition: all 0.5s linear;
  transform: scale(1.2);
  color: navy;
}

/* 
 * Styling for Skills Page 
 */

.experience_container {
  display: flex;
  font-size: 1.2em;
}

 .experience_column {
   width: 50%;
   padding: 0.5em;
 }

 .experience__article {
   margin-bottom: 2em;
 }

 .experience__article_ul_header {
  margin-top: 0.5em;
 }

/* 
 * Styling for hobbies Page
 */

 .hobbies__container {
   height: 80vh;
   display: flex;
   justify-content: space-between;
   flex-direction: column;
 }

 .hobbies__article {
   display: flex;
   align-items: center;
 }

.hobbies__subheading {
  font-size: 3em;
}

 .hobbies__text {
   flex-basis: 0;
   flex-grow: 2;
   text-align: center;
   padding: 0 3em;
 }

 .hobbies__text li {
   margin: 0.3em
 }

 .hobbies__image {
   flex-basis: 0;
   flex-grow: 1;
 }
/* 
 * Styling for STALKING Page
 */

.page__stalk {
  height: 100vh;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tile {
  height: 50%;
  width: 20%;
  background:  rgb(0, 2, 27);
  transition: height 2s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tile:hover, .tile:active {
  height: 80%;
}

.tile__main {
  width: 100%;
  display: flex;
}

.tile__link {
  transition: z-index 1s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  z-index: -1;
}

.tile__subtitle {
  margin-top: 1rem; 
  transition: all 1s ease;
  font-family: GamjaFlower;
  font-size: 1.5rem;
  color: white;
  opacity: 0;
}

@media only screen and (max-width: 450px) {
  .nav__subtitle {
      display: none;
  }

  .tile__subtitle {
    font-size: 1.3rem;
  }

  .tile__link {
    transform: translateY(-2rem)
  }
}

.tile__gh_logo, .tile__li_logo {
  transition: all 1s ease;
  width: 80%;
  opacity: -1;
  fill: white;
}


.tile:hover .tile__subtitle,
.tile:hover .tile__gh_logo,
.tile:hover .tile__li_logo {
  opacity: 1;
}

.tile:hover .tile__link {
  z-index: 3;
}

/* 
 * Easter egg content
 */

@keyframes fly {
  0% {
    transform: rotate(25deg) translate(0,0);
  }

  50% {
    transform: rotate(25deg) translate(70vw, 0) scale(1.5, 1.5);
  }
  
  100% {
    transform: rotate(25deg) translate(130vw, 0) scale(2, 2);
  }
}
  
.egg__comet {
  position: fixed;
  transform: rotate(20deg);
  height: 10rem;
  left: -10rem;
  top: 0rem;
  z-index: 707;
}

.egg__comet--animate {
  animation: fly 1.5s linear
}
